@model PatientListViewModel

<h1 class="patientH1">Pacijenti</h1>
<div class="editButtons">
    <a class="btn btn-secondary" asp-controller="Patient" asp-action="New">Dodati novog pacijenta</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        @*<th scope="col">Čekirano</th>*@
                        <th scope="col">Pacjenti</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model.Patients)
                    {
                        <tr>
                            @*<td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>*@
                            <td>@patient.FirstName @patient.LastName</td>
                            <td>
                                <div class="text-center">
                                    <a class="btn btn-secondary" asp-controller="Patient" asp-action="PatientInfo" asp-route-id="@patient.PatientId">
                                        Informacije
                                    </a>
                                    <a class="btn btn-secondary" asp-controller="Patient" asp-action="Remove" asp-route-id="@patient.PatientId">
                                        Obriši
                                    </a>
                                    <a class="btn btn-secondary" asp-controller="Patient" asp-action="Edit" asp-route-id="@patient.PatientId">
                                        Uredi
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div class="text-center">
        <a class="btn btn-primary" asp-controller="Patient" asp-action="New">Dodati novog pacijenta</a>
    </div>*@